/project/vc10/Debug
/project/vc10/ipch
/project/vc10/*.opensdf
/project/vc10/*.user
/project/vc10/*.sdf
/project/vc10/*.suo
/privatedevstuff
/project/vc10/.vs/jadtool/v14/*.suo
/project/vc10/.vs/jad/v14/*.suo
/project/vc10/.vs
/JadHammer/.vs
/JadHammer/output
/JadHammer/BizHawk.Common/obj
/JadHammer/BizHawk.Emulation.DiscSystem/obj
/JadHammer/Jad/obj
/JadHammer/Jad/obj

